body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.top-nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #99CCE3;
    height: 10%;
    width: 100%;
}

#dog-icon {
    height: 30px;
    width: 30px;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.link-container {
    display: flex;
}

p {
    margin: 10px;
}

.top-main {
    background-image: url('../images/park.jpg');
    position: relative;
    height: 25%;
    width: 100%;
}

.image-container {
    direction: flex;
    justify-content: center;  
  }
  
  #park-image {
    width: 100%;
    height: auto;
  }
  
  h2 {
    position: absolute;
    top: 20%; 
    left: 45%; 
    z-index: 1;
  }

  .main-dog-button {
    position: absolute;
    top: 63%; 
    left: 50%; 
    z-index: 1;
    color: #467EA2;
    border: solid;
    padding: 5px;
    background-color: white;
  }

  #main-dog-image {
    position: absolute;
    top: 30%; 
    left: 44%; 
    z-index: 1; 
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: #467EA2 3px solid;
  }

.bottom-main {
    height: 35%;
    width: 100%;
}

.dog-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: #467EA2 2px solid;
}

.dog-blurb {
    width: 350px;
}

.dog-button {
    color: #467EA2;
    border: solid;
    padding: 5px;
}

.bottom-nav {
    display: flex;
    height: 30%;
    width: 100%;
    background-color: #467EA2;
    color: white;
    align-items: center;
    flex-direction: column;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-image {
    padding: 20px;
}

.github-text {
    text-decoration: underline;
}